@{
    ViewData["Title"] = "Home Page";
}

<title>Dungeons - Home</title>

<div class='container mt-5 mb-5'>

    <!-- if user is logged in-->
    <!-- start -->
    <div class='row'>
        <div class='col-12 mt-5'>
            <a class='btn btn-outline-warning btn-block' href=''>Play</a>
        </div>
    </div>

    <div class='row'>
        <div class='col-12 mt-5'>
            <a class='btn btn-outline-warning btn-block' href=''>Create Character</a>
        </div>
    </div>
    <!-- end -->
    <!-- else -->
    <!-- start -->
    <div class='row'>
        <div class='col-md-6 mt-5'>
            <a class='btn btn-outline-warning btn-block' href=''>Login</a>
        </div>

        <div class='col-md-6 mt-5'>
            <a class='btn btn-outline-warning btn-block' href=''>Register</a>
        </div>
    </div>
    <!-- end -->

    <div class='row'>
        <div class='col-12 mt-5'>
            <a class='btn btn-outline-warning btn-block' href=''>DM Screen</a>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-6 mt-5'>
            <a class='btn btn-outline-warning btn-block' href=''>All Spells</a>
        </div>

        <div class='col-md-6 mt-5'>
            <a class='btn btn-outline-warning btn-block' href=''>All Monsters</a>
        </div>
    </div>

    <div class='row'>
        <div class='col-12 mt-5'>
            <a class='btn btn-outline-warning btn-block' href=''>Rules of Play</a>
        </div>
    </div>

</div>



