@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="intro__container">
    <h1 class="display-4 text-uppercase mb-5" id="intro__heading">Dungeons</h1>
    <h1 class="display-5" id="intro__subtext">Login</h1>
</div>

@* TO BE REMOVED - TEST PURPOSES ONLY *@
@*<div id="ts-example">
        <br />
        <button type="button" class="btn btn-secondary btn-md" onclick="TSButton()">
            Click Me
        </button>
    </div>*@